<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>medium-admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    table, tr, td{
      padding: 10px;
    }
    div{
      margin-top:60px;
    }
    .loginForm{
      background-color: #00cc99;
    }
  </style>
</head>
<body>
 
    <div class="container">
      <div class="jumbotron">
         <h1 align="center">Medium-admin</h1>
         
      <div class="loginForm">
        
         <form method="POST" action="/adminLogin">
            <table align="center">
              <tr>
                <td>
                  <label>Username:</label>
                </td>
                <td>
                  <input type="text" name="username" placeholder="username" class="form-control input-lg" required>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Password:</label>
                </td>
                <td>
                  <input type="password" name="password" placeholder="password" class="form-control input-lg" required>
                </td>
              </tr>
              <tr>
                <td colspan="2" align="center">
                  <input type="submit" value="login" class="btn-primary btn-lg">
                </td>
              </tr>
            </table>
          </form>


      </div>
      
</div>

    </div>
</body>
</html>